// $btn-primary: yellow;

@import "../../node_modules/bootstrap/scss/bootstrap";

// breakpoints

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
// global class
.fs-85 {
  font-size: 85px;
}
.fs-40 {
  font-size: 40px;
}
.fs-16 {
  font-size: 16px;
}
.pb-90 {
  padding-bottom: 90px;
}

.btn {
  min-width: 146px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: left;
}

.btn-linear {
  color: #fff;
  background: linear-gradient(95.04deg, #ffaa3f 0.82%, #f35b04 97.35%);
  border: 0;
  transition: all 0.5s;
}

.btn-linear:hover {
  color: #fff;
  background: linear-gradient(95.04deg, #f35b04 0.82%, #f35b04 97.35%);
}

// main section

main {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // width: 100%;
  height: 95vh;
}

@media (max-width: $breakpoint-md) {
  main {
    height: 80vh;
  }
}

// process section
section {
  &.process {
    .process-card-container {
      position: relative;
      div {
        &:first-child::before {
          content: "";
          position: absolute;
          background: url("../images/dot-arrow1.png") no-repeat left center;
          left: 15%;
          bottom: -15%;
          width: 331px;
          height: 64px;
          background-size: 80%;
        }
        &:nth-child(2)::before {
          content: "";
          position: absolute;
          background: url("../images/dot-arrow2.png") no-repeat;
          left: 40%;
          top: -10%;
          // bottom:-15%;
          width: 331px;
          height: 64px;
          background-size: 80%;
        }
        &:nth-child(3)::before {
          content: "";
          position: absolute;
          background: url("../images/dot-arrow1.png") no-repeat left center;
          right: 10%;
          bottom: -15%;
          width: 331px;
          height: 64px;
          background-size: 80%;
        }
      }
    }

    .process-card {
      padding: 50px 17px;
      text-align: center;
      min-height: 317px;
      border-radius: 0 50px 50px 50px;
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  section {
    &.process {
      .process-card-container#process-card-container {
        div::before {
          display: none;
        }
      }
    }
  }
}

// Why choose us section
section {
  &.choose-us {
    .choose-us-container {
      .choose-card {
        background-color: #fff7f0;
        min-height: 500px;
        transition: all 0.5s;
        border-radius: 0px 50px 50px 50px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 45px 25px 18px;

        img {
          width: 75px;
        }
        p {
          letter-spacing: 0.5px;
          line-height: 24px;
          text-align: center;
        }

        &:hover {
          outline: 3px solid #d18888;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  section {
    &.choose-us {
      .choose-us-container {
        .choose-card {
          min-height: auto;
        }
      }
    }
  }
}

//  place section

section {
  &.place {
    .place-container {
      background: #d1e1f8;
      padding: 68px 0 50px;
      border-radius: 25px;
      .place-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        justify-content: center;
        img {
          width: 30px;
        }

        h4,
        p {
          color: #402060;
        }
      }
    }
  }
}

// our course section

section {
  &.courses {
    .course-container {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: #d0c4dc;
        border-radius: 25px;
        width: 100%;
        max-width: 1385px;
        top: 100px;
        bottom: 150px;
        margin: 0 14px;
        z-index: -1;
      }
      .course-card {
        padding: 15px 30px 40px;
        background: #fff;
        border-radius: 0px 50px 50px 50px;
        margin-bottom: 30px;
        min-height: 310px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
          width: 140px;
        }

        .course-para {
          height: 56px;
          overflow: hidden;
          p {
            line-height: 26px;
          }
        }
        .view-more-btn {
          display: none;
        }

        &:hover {
          .course-para {
            display: none;
          }
          .view-more-btn {
            display: block;
          }
        }
      }
    }
  }
}

// contact section
section {
  &.contact {
    background-image: url("../images/bg01.jpg");
    // background-size: cover;
    // width: 100%;
    // height:40vh;
  }
}

footer.footer {
  .container {
    .social-handles {
      a {
        color: #602c93;
      }
    }
    .location-container {
      .location {
        i {
          color: #602c93;
        }
      }
    }

    .contact-info {
      .contact {
        p {
          i {
            color: #602c93;
          }
        }
      }
    }
    p a{
      color: #602c93;
    }
  }
}
